@page "/"
@inherits ProductsBase

@if (Products == null)
{
    <h3>Loading products...</h3>
}
else
{
    <h3 class="mb-5">Products</h3>

    var productCount = Products.Count();

    @if (productCount > 0)
    {
        var groupedProductsByCategory = from product in Products
                                        group product by product.CategoryId into prodByCatGroup
                                        orderby prodByCatGroup.Key
                                        select prodByCatGroup;

        const int itemsPerRow = 4;
        var productRowList = new List<ProductDto>();

        @for (int i = 0; i < productCount; i++)
        {
            productRowList = Products.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();

            <div class="row mt-3">

                @foreach (var prodGroup in groupedProductsByCategory)
                {
                    <DisplayProducts Products="@prodGroup"></DisplayProducts>
                }
            </div>
        }
    }
}