@implements IDisposable
@inject IShoppingCartService ShoppingCartService

<a href="ShoppingCart" class="btn btn-info">
    <i class="oi oi-cart"></i>&nbsp;Cart
    <span class="badge bg-dark">@ShoppingCartItemCount</span>
</a>

@code{
    private int ShoppingCartItemCount = 0;

    protected override void OnInitialized()
    {
        ShoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
    }

    protected void ShoppingCartChanged(int totalQuantity)
    {
        ShoppingCartItemCount = totalQuantity;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        ShoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }
}